#menured {
    FONT-WEIGHT: bold; FONT-SIZE: 110%; FONT-FAMILY: trebuchet ms,arial,tahoma,verdana,sans-serif;
}
#menured UL {
/*      couleur des items sans lien     */
    color: #990066;
}
#menured UL UL {
    DISPLAY: none;
/*      distance du 3e niveau     */
    LEFT: 180px;    /* largeur du niveau précédent */
    PADDING-LEFT: 0px; /* distance visible mais visitable */
    TOP: -1px;
    POSITION: absolute;
    BORDER: none;
    PADDING-RIGHT: 0px;
    PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}
#menured LI {
/*      largeur des menus     */
    WIDTH: 180px;
    POSITION: relative;
    MARGIN: 0px;
    PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
    LIST-STYLE-TYPE: none;
/*      couleur de fond lorsque non visités    */
    BACKGROUND-COLOR: #d0d0d0;
}
#menured LI:hover {
/*      couleur de fond lorsque visités    */
    BACKGROUND-COLOR: #f0f0f0
}
#menured LI A {
    TEXT-DECORATION: none;
/*      couleur des items avec lien    */
    color: #990066;
}
#menured LI:hover UL.niveau2 {
    DISPLAY: block;
/*      distance relative des menus niveau 2    */
    left: 0px; top: 22px;   /* par rapport au coin supérieur gauche */
/*      environs invisible (visitable) des menus niveau 2    */
    padding-top: 25px;
    padding-left: 0px;
    font-weight: normal;
}
#menured LI LI:hover UL.niveau3 {
    DISPLAY: block
}
#menured LI.plus {
/*      couleur de bordure des entrées de classe "plus"    */
    BORDER: #b0b0b0 1px solid;
}
#menured LI.niv1 {
/*      pour que le niveau 1 soit plus haut que les autres    */
    padding-top: 10px;
    padding-bottom: 10px;
}
/* 
    Created on : 2016-08-26, 10:12:31
    Author     : Pierre
*/

